[variables]
NODE_ENV = "production"

[phases.setup]
nixPkgs = ["nodejs_18", "npm", "python3"]

[phases.install]
cmds = [
    "npm ci",
    "npx prisma generate"
]

[phases.build]
cmds = [
    "npm run build"
]

[start]
cmd = "npm start"